body{
    margin:0;
    padding: 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;
	line-height:1.6em;
	border:0;
    display: flex;
    flex-direction: column;
}

.sideBar{
    position: fixed;
    right: -10px;
    top: 40%;
    z-index: 3;
    background-color: rgba(71, 71, 71, 0.507);
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgb(31, 30, 30);
    text-align: center;
}

.sideBar ul{
    list-style: none;
    display: inline;
}

.img1 h2{
    min-width: 700px;
}

h2{
    color:#e0e0e0;
    text-shadow: 0px 0px 10px black;
    font-weight: lighter;
    background-color: #202020;
    max-width: 220px;
    padding: 10px;
    letter-spacing: 0.5em;
    align-self: center;
	justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.img1{
    background-image: url(images/img1.jpg);
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.img1 .grid-container {
	display: grid;
    grid-template-columns: 2fr 1fr;
}

.img1 .grid-item{
    margin:40px;
    padding: 30px;
    background-color: rgba(128, 128, 128, 0.699);
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgb(54, 54, 54);
    height: auto;
    text-align: right;
}

.img1 .grid-item img,h3{
    height: 50px;
    text-align: right;
}

.img1 .grid-item:hover{
    color: red;
}

.img1 .grid-item:nth-child(2) {
    background: rgba(192, 190, 190, 0.699);
    text-align: right;
}

.img2{
    background-image: url(images/img2.jpg);
    background-attachment: fixed;
    height: 40vh;
    width: 100%;
    z-index: -1;
}

.img2 .grid-container {
	display: grid;
    grid-template-columns: auto auto auto;
}

.img2 .grid-item{
    margin:40px;
    padding: 30px;
    background-color: rgba(128, 128, 128, 0.699);
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgb(54, 54, 54);
    text-align: right;
}

.img2 .grid-item:nth-child(2) {
    background: rgba(192, 190, 190, 0.699);
}

.img3{
    background-image: url(images/img3.jpg);
    background-attachment: fixed;
    height: 40vh;
    width: 100%;
    z-index: -1;
}

.img3 .grid-container {
	display: grid;
    grid-template-columns: auto auto auto;
}

.img3 .grid-item{
    margin:40px;
    padding: 30px;
    background-color: rgba(128, 128, 128, 0.699);
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgb(54, 54, 54);
    text-align: right;
}

.img3 .grid-item:nth-child(2) {
    background: rgba(192, 190, 190, 0.699);
}

.bar{
    background-color: #c4c1c1; 
    text-align: center;
    justify-content: center;
    line-height: 2em;
    word-spacing: 0.2em;
    min-height: 100px;
    padding: 30px;
    box-shadow: 0px 0px 15px rgb(54, 54, 54);
    z-index: 1;
}

.bar:nth-child(2) {
    background-color: #2e2e2e; 
    color: white;
}

@media only screen and (max-width: 1200px) {
    .img1 .grid-container, .img2 .grid-container, .img3 .grid-container {
        grid-template-columns: auto;
    }

    .img1, .img2, .img3{
        height: 100vh;
    }
    
    .img1 .grid-item{
        margin: 30px;
    }
}

@media only screen and (max-width: 750px) {
    .img1 h2{
        min-width: 350px;
    }
    .img3 .grid-item, .img2 .grid-item, .img1 .grid-item{
        margin: 30px;
        padding: 20px;
    }
    .bar{
        font-size: 14px;
    }
}

@media only screen and (max-width: 370px) {
    .img3 .grid-item, .img2 .grid-item, .img1 .grid-item{
        margin: 20px;
        padding: 10px;
    }
}

/*.grid-container2 {
    height:50px;
    width:100px;
    position: absolute;
    left: 0px;
    top: 40%;
}

.grid-item2{
    height: 40px;
    width: 40px;
	margin-top:10px;
    background-color: white;
    box-shadow: rgb(190, 190, 190) 1px 1px 13px;
    text-align: right;
}

.grid-item2 p{
    position: relative;
    right: 7px;
    top: 8px;
    color: rgb(48, 48, 48);
    font-weight: bold;
    font-size: 20px;
    display: inline;
}

.grid-item2:hover{
    animation-name: icon;
    animation-duration: 0.5s;
    width: 180px;
    box-shadow: rgb(139, 139, 139) 1px 1px 13px;
    background-color: rgb(177, 77, 168);
}

.grid-item2:hover:nth-child(2){
    background-color: rgb(43, 45, 192);
    animation-name: icon2;
}

.grid-item2:hover:nth-child(3){
    background-color: rgb(108, 110, 255);
    animation-name: icon3;
}

.grid-item2 img{
    height: 25px;
}

@keyframes icon {
    from {width: 30px; box-shadow: rgb(190, 190, 190) 1px 1px 13px; background-color: white;}
    to {width: 180px; box-shadow: rgb(139, 139, 139) 1px 1px 13px; background-color: rgb(177, 77, 168);} 
}

@keyframes icon2 {
    from {width: 30px; box-shadow: rgb(190, 190, 190) 1px 1px 13px; background-color: white;}
    to {width: 180px; box-shadow: rgb(139, 139, 139) 1px 1px 13px; background-color: rgb(43, 45, 192);} 
}

@keyframes icon3 {
    from {width: 30px; box-shadow: rgb(190, 190, 190) 1px 1px 13px; background-color: white;}
    to {width: 180px; box-shadow: rgb(139, 139, 139) 1px 1px 13px; background-color: rgb(108, 110, 255);} 
}
*/
