:root {
  --accent: #333;
  --font:#333;
  --background:#333;
}

html {
  /*
    box-shadow: inset 0px 0px 40px 6px rgba(15,15,15,0.64) ;
    height: 100%;
    */
  /* BVAmbient Style */
}

html main {
  display: none;
}

@media (max-width: 900px) {
  html main {
    margin-left: 50px;
  }
}

html body {
  padding: 0;
  margin: 1%;
  background: #002b36;
  color: #eee8d5;
  text-shadow: 0 0 0.3vw #ffffff59;
  font-size: 42px;
}

html body .section {
  position: relative;
}

@media (min-width: 1000px) {
  html body .section .container {
    width: 90%;
  }
}

@media (min-width: 1920px) {
  html body .section .container {
    max-width: 80%;
  }
}

html body span {
  color: lime;
}

html body p {
  margin: 0;
}

html body #name {
  font-size: 4rem;
  background: none;
  border: none;
  width: 100%;
  color: white;
}

html body #spotify-area {
  background-color: #191414;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  padding: 50px;
}

html body #color-settings {
  font-size: 20px;
  z-index: 100;
}

html body #color-settings .setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

html body #color-settings .setting label {
  margin-right: 10px;
}

html body #color-settings .setting input {
  height: 40px;
  width: 40px;
}

html body #info-settings {
  font-size: 20px;
  z-index: 100;
}

html body #info-settings .setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

html body #news {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

@media (max-width: 1200px) {
  html body #news {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

html body #news .grid-item {
  max-width: 100%;
  height: 100%;
}

html body #news .grid-item:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

html body #news .grid-item a, html body #news .grid-item a:visited {
  color: #333;
}

html body #news .grid-item .card {
  text-decoration: none;
  height: 100%;
  border-radius: 14px;
  background: #ffffff;
  border: none;
  -webkit-box-shadow: 0px 2px 15px 0px #80808026;
          box-shadow: 0px 2px 15px 0px #80808026;
}

html body #news .grid-item .card img {
  border-radius: 10px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 250px;
}

html body #news .grid-item .card .bottom {
  padding: 10px 15px;
  height: 100%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body #news .grid-item .card .title {
  font-size: 14px;
}

html body #news .grid-item .card .source {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

html #Category-Option {
  background: none;
  border: 3px solid black;
  padding: 5px 0px;
  margin: 0px 0px 20px 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 24px;
}

html .todo-title {
  border-bottom: 3px solid var(--accent);
  font-size: 24px;
  margin-top: 24px;
}

html #google-area {
  position: relative;
  margin-bottom: 10px;
}

html #google-area #google-search {
  font-size: 24px;
  border: none;
  border-radius: 40px;
  padding: 4px 24px;
  width: 100%;
  margin-top: 0;
  -webkit-box-shadow: 0px 2px 15px 0px #80808026;
          box-shadow: 0px 2px 15px 0px #80808026;
}

html #google-area .fa-search {
  position: absolute;
  right: 14px;
  bottom: 15px;
  font-size: 22px;
  color: #333;
  cursor: pointer;
}

html #currencystats #user-drop {
  border-bottom: 1px solid;
}

html #currencystats #user-drop i {
  font-size: 24px;
}

html #currencystats ul {
  background-color: rgba(0, 0, 0, 0.473);
  font-size: 12px;
  list-style: none;
  padding: 2px 3px;
}

html #currencystats ul li {
  border-bottom: 1px solid gray;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  padding: 2px 4px;
}

html #currencystats ul li p {
  padding-left: 5px;
}

html #currencystats ul li:not(:first-child) p {
  margin: 0;
  border-right: 1px solid gray;
  text-transform: capitalize;
}

html #currencystats ul li:not(:first-child) p:last-child {
  border: none;
  color: lawngreen;
}

html #currencystats ul li:not(:first-child) p:first-child {
  font-size: 14px;
}

html #sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(37, 37, 37, 0.2);
  width: 50px;
  z-index: 100;
  -webkit-box-shadow: 5px 0px 10px 0px #24242473;
          box-shadow: 5px 0px 10px 0px #24242473;
}

html #sidebar .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html #sidebar .options .option {
  font-size: 26px;
  padding: 14px 0;
  color: var(--font);
  background-clip: text;
  text-shadow: 0px 3px 3px #4c4c4c4a;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

html #sidebar .options .option:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: var(--accent);
  margin: 10px 0;
  -webkit-transition: width .2s ease-in;
  transition: width .2s ease-in;
}

html #sidebar .options .option:hover:after {
  width: 100%;
}

html #sidebar .options .option .preview {
  position: absolute;
  left: 50px;
}

html #sidebar .settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

html #sidebar .settings i {
  font-size: 26px;
  padding-top: 14px;
  color: var(--font);
  background-clip: text;
  text-shadow: 0px 3px 3px #4c4c4c4a;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

html #sidebar .settings i:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: var(--accent);
  margin: 10px 0;
  -webkit-transition: width .2s ease-in;
  transition: width .2s ease-in;
}

html #sidebar .settings i:hover:after {
  width: 100%;
}

html #sidebar .settings .profile {
  width: 100%;
  padding: 6px;
}

html #settingsmenu {
  position: fixed;
  top: 0;
  left: 50px;
  width: 0px;
  height: 100vh;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.952);
  z-index: 100;
  padding: 10%;
}

html #settingsmenu.active {
  visibility: visible;
  width: calc(100vw - 50px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

html #settingsmenu h2 {
  border-left: 2px solid var(--accent);
  padding-left: 10px;
}

html #settingsmenu #theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html #settingsmenu #theme .item {
  position: relative;
  height: 50px;
}

html #settingsmenu #theme .item:first-child {
  margin-left: 0px;
}

html #settingsmenu #theme .item:last-child {
  margin-right: 0px;
}

html #settingsmenu #theme .item.active {
  -webkit-box-shadow: 0px 20px 0px -10px var(--background), 0px -20px 0px -10px var(--background), 20px 0px 0px -10px var(--background), -20px 0px 0px -10px var(--background), 0px 0px 0px 10px var(--accent), 5px 5px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: 0px 20px 0px -10px var(--background), 0px -20px 0px -10px var(--background), 20px 0px 0px -10px var(--background), -20px 0px 0px -10px var(--background), 0px 0px 0px 10px var(--accent), 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

html #settingsmenu #theme .item span {
  width: 86px;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

html #settingsmenu #theme .item span i, html #settingsmenu #theme .item span svg {
  max-width: 50px;
  height: auto;
  color: var(--accent);
}

html #settingsmenu #theme .item input {
  margin-top: 20px;
  font-size: 14px;
  position: absolute;
  right: 10px;
  top: 10px;
}

html #settingsmenu #theme .item input[type=file] {
  right: 30px;
  top: 2px;
}

html #settingsmenu #theme .item p {
  font-size: 16px;
  padding-top: 10px;
  position: absolute;
  left: 100px;
  top: 10px;
}

html #bookmarks .bookmarks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[8];
      grid-template-columns: repeat(8, auto);
}

@media (max-width: 1000px) {
  html #bookmarks .bookmarks {
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
  }
}

html #bookmarks .bookmarks .add-bookmark {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

html #bookmarks .bookmarks .add-bookmark i {
  padding-left: 5px;
  font-size: 32px;
}

html #bookmarks .bookmarks .bookmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 4px;
  position: relative;
}

html #bookmarks .bookmarks .bookmark img {
  width: 32px;
  border-radius: 100%;
}

html #bookmarks .bookmarks .bookmark a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: var(--font);
  text-transform: capitalize;
}

html #bookmarks .bookmarks .bookmark i {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  visibility: hidden;
}

html #bookmarks .bookmarks .bookmark:hover i {
  visibility: visible;
  cursor: pointer;
}

html .text-right {
  text-align: right;
}

html a:link, html a:active {
  text-decoration: none;
  color: black;
}

html div[class^="col-"] {
  margin-bottom: 30px;
}

html .bvambient_particle {
  position: absolute;
  pointer-events: none;
  -webkit-transition: top linear, left linear;
  transition: top linear, left linear;
}

html #ambient {
  top: 0;
  left: 0;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  display: none;
  position: fixed !important;
}

html #defaultCanvas0 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.2;
  z-index: -10;
}

html #bgImage {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

html #todos.active {
  width: calc(100vw - 68px);
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: var(--background);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

html #todos.active .todos {
  width: 80%;
  margin: 10% auto;
  border-left: 1px solid var(--accent);
}

html #todos.active .todos .todo a span .name {
  font-size: 18px;
}

html #todos.active .todos .fa-expand-alt {
  font-size: 26px;
}

html #todos .todos {
  position: relative;
}

html #todos .todos .todo {
  position: relative;
}

html #todos .todos .todo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 5px 12px 12px;
}

html #todos .todos .todo a span {
  color: var(--font);
}

html #todos .todos .todo a span .name {
  font-size: 14px;
}

html #todos .todos .todo i {
  visibility: hidden;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 10px;
}

html #todos .todos .todo .important i {
  font-size: 22px !important;
  visibility: visible;
  right: 22px;
  top: 16px;
}

html #todos .todos .todo:hover i {
  visibility: visible;
  font-size: 14px;
}

html #todos .todos .add-item {
  font-size: 14px;
  cursor: pointer;
  text-align: right;
  padding: 10px 20px;
}

html #todos .todos .add-item i {
  padding-left: 5px;
}

html #todos .todos .fa-expand-alt {
  position: absolute;
  left: 12px;
  font-size: 22px;
  z-index: 80;
  bottom: 12px;
  cursor: pointer;
}

html #weather .title {
  font-size: 42px;
}

html #weather .description {
  font-size: 24px;
  text-transform: capitalize;
}

html #weather .temp {
  color: var(--font);
  font-size: 32px;
  position: relative;
}

html #weather .temp img {
  position: absolute;
  right: 64px;
  top: -10px;
}

html #weather .hi-low, html #weather .humidity {
  color: var(--font);
  font-size: 16px;
}

html .line-through {
  text-decoration: line-through;
}

html .loading {
  display: block;
  background: #f6f6f636;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #F6F6F636), color-stop(18%, #F0F0F036), color-stop(33%, #F6F6F636));
  background: linear-gradient(to right, #F6F6F636 8%, #F0F0F036 18%, #F6F6F636 33%);
  background-size: 400% 400%;
  -webkit-animation: gradient 3s ease infinite;
          animation: gradient 3s ease infinite;
  min-height: 30px;
  border-radius: 8px;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html #swal2-html-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html #swal2-html-container span {
  color: #595959 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html #swal2-html-container span input {
  margin-top: 0;
}

html div[class^="col-"] {
  margin-bottom: 10px;
}

@-webkit-keyframes bouncing-loader {
  to {
    opacity: 0.1;
    -webkit-transform: translate3d(0, -16px, 0);
            transform: translate3d(0, -16px, 0);
  }
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    -webkit-transform: translate3d(0, -16px, 0);
            transform: translate3d(0, -16px, 0);
  }
}

@-webkit-keyframes disappear {
  to {
    opacity: 0.0;
    display: none;
    z-index: -10;
  }
}

@keyframes disappear {
  to {
    opacity: 0.0;
    display: none;
    z-index: -10;
  }
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--background);
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation: disappear forwards ease-in-out 0.5s;
          animation: disappear forwards ease-in-out 0.5s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

#loading .bouncing-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: disappear forwards ease-in-out  1.5s;
          animation: disappear forwards ease-in-out  1.5s;
}

#loading .bouncing-loader > div {
  width: 16px;
  height: 16px;
  margin: 3rem 0.2rem;
  background: var(--font);
  border-radius: 50%;
  -webkit-animation: bouncing-loader 0.6s infinite alternate;
          animation: bouncing-loader 0.6s infinite alternate;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

#loading .bouncing-loader > div:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#loading .bouncing-loader > div:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

/*
body::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 43, 54, 0.1) 50%);
    z-index: 2;
    background-size: 100% 3px, 3px 100%;
    pointer-events: none;
}
*/
/*# sourceMappingURL=style.css.map */