body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6em;
  border: 0;
  display: flex;
  flex-direction: column;
  z-index: -2;
}

.sideBar {
  position: fixed;
  right: -10px;
  top: 40%;
  z-index: 3;
  background-color: rgba(71, 71, 71, 0.507);
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgb(31, 30, 30);
  text-align: center;
}

.sideBar ul {
  list-style: none;
  display: inline;
}

.img1 h2 {
  min-width: 700px;
}

h2 {
  color: #e0e0e0;
  text-shadow: 0px 0px 10px black;
  font-weight: lighter;
  background-color: #252525;
  max-width: 220px;
  padding: 10px;
  letter-spacing: 0.5em;
  align-self: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.img1 {
  background-image: url(images/img1.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  z-index: -1;
}

.img1 .grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.img1 .grid-item {
  margin: 40px;
  padding: 30px;
  background-color: rgba(128, 128, 128, 0.8);
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgb(54, 54, 54);
  height: auto;
  text-align: right;
}

.img1 .grid-item img,
h3 {
  height: 50px;
  text-align: right;
}

.img1 .grid-item:hover {
  color: red;
}

.img1 .grid-item:nth-child(2) {
  background: rgba(192, 190, 190, 0.8);
  text-align: right;
}

.img2 {
  background-image: url(images/img2.jpg);
  background-attachment: fixed;
  height: 40vh;
  width: 100%;
  z-index: -1;
}

.img2 .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.img2 .grid-item {
  margin: 40px;
  padding: 30px;
  background-color: rgba(128, 128, 128, 0.8);
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgb(54, 54, 54);
  text-align: right;
}

.img2 .grid-item:nth-child(2) {
  background: rgba(192, 190, 190, 0.8);
}

.img3 {
  background-image: url(images/img3.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  z-index: 3;
}

.img3 .grid-container {
  display: grid;
  grid-template-columns: auto;
}

.img3 .grid-item {
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  background-color: rgba(128, 128, 128, 0.8);
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgb(54, 54, 54);
  text-align: right;
  max-width: 45%;
}

.img3 .grid-item h3 {
  text-align: center;
  margin: 0px;
}

.img3 .grid-item img {
  width: 100%;
  transition: all 0.15s ease-in;
}

.img3 .grid-item:nth-child(2) {
  background: rgba(192, 190, 190, 0.8);
}

.bar {
  background-color: #c4c1c1;
  text-align: center;
  justify-content: center;
  line-height: 2em;
  word-spacing: 0.2em;
  min-height: 50px;
  padding: 30px;
  box-shadow: 0px 0px 15px rgb(54, 54, 54);
  z-index: 1;
}

.bar:nth-child(2) {
  background-color: #2e2e2e;
  color: white;
}

.grid-item {
  z-index: 2;
}

.img3 .grid-item img:hover {
  opacity: 80%;
  transform: scale(0.98);
}

a:link,
:visited,
:active {
  color: #000000;
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .img1 .grid-container,
  .img2 .grid-container,
  .img3 .grid-container {
    grid-template-columns: auto;
  }

  .img3 .grid-item {
    max-width: 500px;
  }

  .img1,
  .img2 {
    height: 100vh;
  }

  .img1 .grid-item {
    margin: 30px;
  }
}

@media only screen and (max-width: 750px) {
  .img1 h2 {
    min-width: 350px;
  }
  .img2 .grid-item,
  .img1 .grid-item {
    margin: 30px;
    padding: 20px;
  }
  .bar,
  .grid-item p {
    font-size: 14px;
  }
  .img3 .grid-item {
    max-width: 85%;
  }
}

@media only screen and (max-width: 370px) {
  .img3 .grid-item,
  .img2 .grid-item,
  .img1 .grid-item {
    margin: 20px;
    padding: 10px;
  }

  .img3 .grid-item {
    width: 85%;
  }

  .bar,
  .grid-item p {
    font-size: 12px;
  }
}
